*{
    margin: 0%;
}   
#conteiner{
    width: 100%;
    border: 1px solid rgb(250, 19, 19);
}

#cabeçalho{
    width: 100%;
    height: 100px;
    background-color: rgb(226, 13, 137);
    
}

ul{
    display: flex;
    justify-content: center;
    font-size: 50px;

}

a{
    font-size: 20px;
    color: aqua;
    justify-content: right;

}

li{
    padding: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 30px;
    color: rgb(99, 15, 15);
}
